body {
    margin: auto;
    max-width: 50em;
    font-family: serif;
    background-color: rgb(179, 212, 189);
}

.item {
    border: 2px solid black;
    margin: 1em;
    padding: 0.2em 0.5em;
    background-color: white;
}

.logo {
    height: 100px;
}

.info {
    border: 2px solid black;
    margin: 1em;
    padding: 0.5em;
    background-color: rgb(255, 0, 21);
    color: white;
}

.content {
    background-color: white;
    padding: 1em;
    margin: 0.5em 0;
}

.header {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 0em;
    margin: 1em 0;
    display: flex;rgb(255, 255, 255)
    align-items: center;
    justify-content: space-between;
}

.nav {
    background-color: white;
    padding: 0em;
    margin: 0em 0;
}

.greeting {
    font-size: 1.3em;
}


h1 {
    margin: 0;
    font-size: 5em;
    font-family: 'URW Chancery L', cursive;
}

h2 {
    margin: 0;
}
