{% extends "layout.html" %}

{% block title %}Kommentin muokkaus{% endblock %}

{% block content %}
<body>
  <h2>Kommentin muokkaus</h2>
  <form action="/update_comment" method="post">
    <p>
      Sisältö: <br />
      <textarea name="content" rows="8" cols="60" maxlength="1000" required>{{ comment.comment }}</textarea>
    </p>
    <p>
      <input type="hidden" name="comment_id" value="{{ comment.id }}">
      <input type="submit" value="Muokkaa" />
      <input type="submit" name="back" value="Palaa takaisin">
    </p>
  </form>
</body>
{% endblock %}