{% extends "layout.html" %}

{% block title %}Etsi julkaisuja{% endblock %}

{% block content %}
<h2>Etsi julkaisuja</h2>
<form action="/find_item" method="get">
  <p>
    <label for="query">Hakusana: <input type="text" name="query" id="query" value="{{ query }}"></lable>
  </p>
  <input type="submit" Value="Etsi">
</form>

{% if query %}
<h3>Tulokset</h3>

{% for item in results %}
<div class="item">
<a href="/item/{{ item.id }}">{{ item.title }}</a><br />
Julkaisija: <a href="/user/{{ item.user_id }}">{{ item.username }}</a> <br />
Kommentteja: {{ item.comment_count }}
</div>
{% endfor %}
{% endif %}

{% endblock %}