{% extends "layout.html" %}

{% block title %}Julkaisun kuvat{% endblock %}

{% block content %}
<body>
  <h2>Julkaisun kuvat</h2>
  <p>
    Julkaisu: <a href="/item/{{ item.id}}">{{ item.title }}</a>
  </p>
  <p>
    Ilmoituksessa on {{ images | count }} kuvaa.
  </p>

  <form action="/remove_images" method="post">
    {% for image in images %}
    <input type="checkbox" name="image_id" value="{{ image.id }}">
    <img src="/image/{{ image.id }}" />
    {% endfor %}
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <p>
    <input type="submit" value="Poista valitut" />
    </p>
  </form>

  <h3>Lisää uusi kuva</h3>
  <form action="/add_image" method="post" enctype="multipart/form-data">
    <p>
      Kuva: <input type="file" name="image" accept=".png, .jpg, .jpeg" />
    </p>
    <input type="hidden" name="item_id" value="{{ item.id }}">
    <input type="submit" value="Lähetä" />
  </form>
  <p>
    <a href="/item/{{ item.id }}">Takaisin julkaisuun</a>
  </p>
</body>
{% endblock %}