<!DOCTYPE html>
<html>

<head>
  <title>Sienipalsta</title>
</head>

<body>
  <h1>Sienipalsta</h1>
  {% if session.user_id %}
  <p>
    Hei {{ session.username }}!
  </p>
  {% endif %}

  <p>
    <a href="/find_item">Etsi julkaisu</a> |
  {% if session.user_id %}
    <a href="/user/{{ session.user_id }}">Oma sivu</a> |
    <a href="/new_item">Uusi julkaisu</a> |
    <a href="/logout">Kirjaudu ulos</a> |
  {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  {% endif %}
  </p>

    <h2>Julkaisut</h2>

    <ul>
      {% for item in items %}
      <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
</body>

</html>