<!DOCTYPE html>
<html>

<head>
  <title>Sienipalsta</title>
</head>

<body>
  <h1>Sienipalsta</h1>
    {% if session.username %}
    <p>
      Hei {{ session.username }}, id-numerosi on {{ session.user_id }}.
    </p>
    <p>
      Oma sivu: <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    </p>
    <p>
      <a href="/new_item">Uusi julkaisu</a>
    </p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>
    {% else %}
    <p>
      <a href="/login">Kirjaudu sisään</a>
      <a href="/register">Luo tunnus</a>
    </p>
    {% endif %}
    <p>
      <a href="/find_item">Etsi julkaisu</a>
    </p>

    <h2>Julkaisut</h2>

    <ul>
      {% for item in items %}
      <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
</body>

</html>