<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <img src="/static/logo.png" alt="Logo" class="logo">
  <h1>Sienipalsta</h1>
  {% if session.user_id %}
  <p>
    Hei {{ session.username }}!
  </p>
  {% endif %}

  <p>
    <a href="/">Etusivu</a> |
    <a href="/find_item">Etsi julkaisu</a> |
  {% if session.user_id %}
    <a href="/user/{{ session.user_id }}">Oma sivu</a> |
    <a href="/new_item">Uusi julkaisu</a> |
    <a href="/logout">Kirjaudu ulos</a> |
  {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  {% endif %}
  </p>
  {% for message in get_flashed_messages() %}
  <p class="info">
    {{ message }}
  </p>
  {% endfor %}

  {% block content %}{% endblock %}
</body>

</html>