{% extends "layout.html" %}

{% block title %}Uusi julkaisu{% endblock %}

{% block content %}
<h2>Uusi julkaisu</h2>
<form action="/create_item" method="post">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" name="title" id="title" maxlength="50" required />
  </p>
  <p>
    <label for="location">Sijainti:</label> <br />
    <input type="text" name="location" id="location" maxlength="50" required />
  </p>
  <p>
  <label for="description">Kuvaus:</label> <br />
    <textarea name="description" id="description" rows="8" cols="60" maxlength="1000" required></textarea>
  </p>
  <p>
    <label for="subject">Aihe:</label> <br />
    <select name="section" id="subject">
      <option value="">(valitse)</option>
      <option value="tunnistus">tunnistus</option>
      <option value="reseptit">reseptit</option>
      <option value="kasvatus">kasvatus</option>
      <option value="terveys">terveys</option>
      <option value="vapaa">vapaa</option>
    </select>
  </p>
  <p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
  </p>
</form>
{% endblock %}