{% extends "layout.html" %}

{% block title %}Julkaisun poisto{% endblock %}

{% block content %}
<body>
  <h2>Julkaisun poisto</h2>
  <p>
    Julkaisu: {{ item.title }}
  </p>
  <p>Haluatko varmasti poistaa tämän julkaisun?</p>
  <form action="/remove_item/{{ item.id }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="remove" value="Poista">
  </form>
  <p>
    <a href="/item/{{ item.id }}">Takaisin julkaisuun</a>
  </p>
</body>
{% endblock %}